<?xml version="1.0" encoding="utf-8"?>
<?define Version="2.0.8.4000" ?>
<?define Manufacturer="Digimezzo" ?>
<?define Product="Dopamine" ?>
<?define ProductCab="Dopamine.cab" ?>
<?define DowngradeMessage="A newer version of this application is already installed. If you are sure you want to downgrade, remove the existing installation via Programs and Features." ?>
<!--<?define License="Dopamine.License.rtf" ?>-->
<?define BannerBmp="Dopamine.BannerBmp.bmp" ?>
<?define DialogBmp="Dopamine.DialogBmp.bmp" ?>
<?define UpgradeCode="744d2eee-0923-4e96-9efd-1ee5f13db75b"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.Product)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <!-- Packaging -->
    <!-- ========= -->
    <Package Description="$(var.Product)" Comments="$(var.Product)" InstallerVersion="500" Compressed="yes" />
    <Media Id="1" Cabinet="$(var.ProductCab)" EmbedCab="yes" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="$(var.DowngradeMessage)" />
    <InstallExecuteSequence>
      <Custom Action="KillApplication" After="LaunchConditions"/>
    </InstallExecuteSequence>
    <!--<WixVariable Id="WixUILicenseRtf" Value="$(var.License)" />-->
    <WixVariable Id="WixUIBannerBmp" Value="$(var.BannerBmp)" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.DialogBmp)" />
    <!-- Icons -->
    <!-- ===== -->
    <!-- This just defines an icon that can be used anywhere else -->
    <Icon Id="$(var.Product).ico" SourceFile="$(var.Product).exe" />
    <!-- Properties -->
    <!-- ========== -->
    <Property Id="WixShellExecTarget" Value="[#$(var.Product).exe]" />
    <Property Id="QtExecCmdLine" Value='"taskkill.exe" /f /im $(var.Product).exe'/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.Product)" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <!-- This adds an icon for Add/Remove Programs. The Value is the Id of the Icon defined above -->
    <Property Id="ARPPRODUCTICON" Value="$(var.Product).ico" />
    <!-- Custom actions -->
    <!-- ============== -->
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <CustomAction Id="KillApplication" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="ignore"/>
    <!-- User interface -->
    <!-- ============== -->
    <UI>
      <UIRef Id="DonateWixUI_InstallDir" />
      <!-- Skip licence dialog (next 2 lines) -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <!-- Launch application -->
      <Publish Dialog="DonateExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <!-- Directory tree -->
    <!-- ============== -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder"/>
      <!-- Program Files -->
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLFOLDER" Name="$(var.Product)">
          <!-- Ffmpeg -->
          <Directory Id="FFMPEGFOLDER" Name="FFmpeg">
            <Directory Id="FFMPEGBINFOLDER" Name="bin">
              <Directory Id="FFMPEGBINWINDOWSFOLDER" Name="windows">
                <Directory Id="FFMPEGBINWINDOWSX64FOLDER" Name="x64">
                  <Component Id="FFMPEGX64CMP" DiskId="1" Guid="A212950C-30F5-4130-9BC0-431DE13E9A40">
                    <File Id="AVCODECX64" Source="FFmpeg\bin\windows\x64\avcodec-57.dll" />
                    <File Id="AVFORMATX64" Source="FFmpeg\bin\windows\x64\avformat-57.dll" />
                    <File Id="AVUTILX64" Source="FFmpeg\bin\windows\x64\avutil-55.dll" />
                    <File Id="SWRESAMPLEX64" Source="FFmpeg\bin\windows\x64\swresample-2.dll" />
                  </Component>
                </Directory>
                <Directory Id="FFMPEGBINWINDOWSX86FOLDER" Name="x86">
                  <Component Id="FFMPEGX86CMP" DiskId="1" Guid="DCB59B57-7456-4F78-A919-5F0B9D35FF1C">
                    <File Id="AVCODECX86" Source="FFmpeg\bin\windows\x86\avcodec-57.dll" />
                    <File Id="AVFORMATX86" Source="FFmpeg\bin\windows\x86\avformat-57.dll" />
                    <File Id="AVUTILX86" Source="FFmpeg\bin\windows\x86\avutil-55.dll" />
                    <File Id="SWRESAMPLEX86" Source="FFmpeg\bin\windows\x86\swresample-2.dll" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
          <!-- SQLite -->
          <Directory Id="X64FOLDER" Name="x64">
            <Component Id="X64CMP" DiskId="1" Guid="89332F0B-AF41-49AC-9B8D-D1E8AD9E50F1">
              <File Id="ESQLITEX64" Source="x64\e_sqlite3.dll" />
            </Component>
          </Directory>
          <Directory Id="X86FOLDER" Name="x86">
            <Component Id="X86CMP" DiskId="1" Guid="4A1279BA-C6C3-43D3-A1BB-EBA723DEF405">
              <File Id="ESQLITEX86" Source="x86\e_sqlite3.dll" />
            </Component>
          </Directory>
          <!-- Icons -->
          <Directory Id="ICONSFOLDER" Name="Icons">
            <Component Id="ICONSCMP" DiskId="1" Guid="69CA5CE5-F8DF-45E3-A6A1-837785389740">
              <File Source="Icons\Aiff.ico" />
              <File Source="Icons\Dopamine.ico" />
              <File Source="Icons\Dopamine - White.ico" />
              <File Source="Icons\Dopamine.png" />
              <File Source="Icons\Dopamine - White.png" />
              <File Source="Icons\Flac.ico" />
              <File Source="Icons\Generic.ico" />
              <File Source="Icons\Legacy tray.ico" />
              <File Source="Icons\M3u.ico" />
              <File Source="Icons\M4a.ico" />
              <File Source="Icons\Mp3.ico" />
              <File Source="Icons\Ogg.ico" />
              <File Source="Icons\Opus.ico" />
              <File Source="Icons\Tray_black.ico" />
              <File Source="Icons\Tray_white.ico" />
              <File Source="Icons\Wav.ico" />
              <File Source="Icons\Wma.ico" />
              <File Source="Icons\Zpl.ico" />
            </Component>
          </Directory>
          <!-- Language -->
          <Directory Id="LANGUAGESFOLDER" Name="Languages">
            <Component Id="LANGUAGESCMP" DiskId="1" Guid="9226C125-A567-45E2-ADC8-95D5256BB8B7">
              <File Source="Languages\BG.xml" />
              <File Source="Languages\CS.xml" />
              <File Source="Languages\DA.xml" />
              <File Source="Languages\DE.xml" />
              <File Source="Languages\EL.xml" />
              <File Source="Languages\EN.xml" />
              <File Source="Languages\ES.xml" />
              <File Source="Languages\FI.xml" />
              <File Source="Languages\FR.xml" />
              <File Source="Languages\HR.xml" />
              <File Source="Languages\HU.xml" />
              <File Source="Languages\ID.xml" />
              <File Source="Languages\IT.xml" />
              <File Source="Languages\JP.xml" />
              <File Source="Languages\KMR.xml" />
              <File Source="Languages\KO.xml" />
              <File Source="Languages\NL.xml" />
              <File Source="Languages\NO.xml" />
              <File Source="Languages\PL.xml" />
              <File Source="Languages\PT-BR.xml" />
              <File Source="Languages\PT-PT.xml" />
              <File Source="Languages\RU.xml" />
              <File Source="Languages\SR-Cyrl.xml" />
              <File Source="Languages\SR-Latn.xml" />
              <File Source="Languages\SV.xml" />
              <File Source="Languages\TR.xml" />
              <File Source="Languages\UK.xml" />
              <File Source="Languages\VI.xml" />
              <File Source="Languages\ZH-CN.xml" />
              <File Source="Languages\ZH-TW.xml" />
            </Component>
          </Directory>
          <!-- Equalizer -->
          <Directory Id="EQUALIZERFOLDER" Name="Equalizer">
            <Component Id="EQUALIZERCMP" DiskId="1" Guid="FF9E83AA-FEEF-4F34-B8DB-60EF19477587">
              <File Source="Equalizer\Classical.deq" />
              <File Source="Equalizer\Club.deq" />
              <File Source="Equalizer\Dance.deq" />
              <File Source="Equalizer\Full bass and treble.deq" />
              <File Source="Equalizer\Full bass.deq" />
              <File Source="Equalizer\Full treble.deq" />
              <File Source="Equalizer\Headphones.deq" />
              <File Source="Equalizer\Large hall.deq" />
              <File Source="Equalizer\Live.deq" />
              <File Source="Equalizer\Party.deq" />
              <File Source="Equalizer\Pop.deq" />
              <File Source="Equalizer\Reggae.deq" />
              <File Source="Equalizer\Rock.deq" />
              <File Source="Equalizer\Ska.deq" />
              <File Source="Equalizer\Soft rock.deq" />
              <File Source="Equalizer\Soft.deq" />
              <File Source="Equalizer\Techno.deq" />
            </Component>
          </Directory>
          <!-- Application -->
          <Component Id="MAINCMP" DiskId="1" Guid="9B925874-C592-453A-BCA8-4CF8D8E60511">
            <!-- Files -->
            <File Source="Dopamine.exe">
              <Shortcut Id="ExeShortcut" Directory="ProgramMenuFolder" Name="Dopamine" WorkingDirectory="INSTALLFOLDER" Icon="$(var.Product).ico" IconIndex="0" />
            </File>
            <File Source="Dopamine.exe.config" />
            <File Source="License.txt" />
            <File Source="Changelog.txt" />
            <File Source="BaseSettings.xml" />
            <File Source="CommonServiceLocator.dll" />
            <File Source="Prism.dll" />
            <File Source="Prism.DryIoc.Wpf.dll" />
            <File Source="Prism.Wpf.dll" />
            <File Source="Digimezzo.Foundation.Core.dll" />
            <File Source="Digimezzo.Foundation.WPF.dll" />
            <File Source="DiscordRPC.dll" />
            <File Source="Dopamine.Core.dll" />
            <File Source="Dopamine.Data.dll" />
            <File Source="Dopamine.Icons.dll" />
            <File Source="Dopamine.Services.dll" />
            <File Source="CSCore.dll" />
            <File Source="CSCore.Ffmpeg.dll" />
            <File Source="GongSolutions.WPF.DragDrop.dll" />
            <File Source="Ionic.Zip.dll" />
            <File Source="NVorbis.dll" />
            <File Source="SQLite-net.dll" />
            <File Source="SQLitePCLRaw.batteries_green.dll" />
            <File Source="SQLitePCLRaw.batteries_v2.dll" />
            <File Source="SQLitePCLRaw.core.dll" />
            <File Source="SQLitePCLRaw.provider.e_sqlite3.dll" />
            <File Source="System.Windows.Interactivity.dll" />
            <File Source="taglib-sharp.dll" />
            <File Source="WPFFolderBrowser.dll" />
            <File Source="DryIoc.dll" />
            <File Source="Newtonsoft.Json.dll" />
            <!-- Registry -->
            <RegistryKey Root="HKCR" Key="Directory\Shell\PlayWithDopamine">
              <RegistryValue Type="string" Value="Play with Dopamine"/>
            </RegistryKey>
            <RegistryKey Root="HKCR" Key="Directory\Shell\PlayWithDopamine\command">
              <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;"/>
            </RegistryKey>
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities" Name="ApplicationName" Value="Dopamine" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities" Name="ApplicationDescription" Value="Dopamine audio player" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".aiff" Value="Dopamine.aiff" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".m3u" Value="Dopamine.m3u" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".zpl" Value="Dopamine.zpl" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".mp3" Value="Dopamine.mp3" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".ogg" Value="Dopamine.ogg" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".wma" Value="Dopamine.wma" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".flac" Value="Dopamine.flac" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".m4a" Value="Dopamine.m4a" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Dopamine\Capabilities\FileAssociations" Name=".opus" Value="Dopamine.opus" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="Dopamine" Value="SOFTWARE\Dopamine\Capabilities" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\Dopamine.exe" Name="FriendlyAppName" Value="Dopamine" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.aiff" Value="Dopamine aiff file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.aiff\DefaultIcon" Value="[ICONSFOLDER]Aiff.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.aiff\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.m3u" Value="Dopamine m3u file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.m3u\DefaultIcon" Value="[ICONSFOLDER]M3u.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.m3u\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.zpl" Value="Dopamine zpl file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.zpl\DefaultIcon" Value="[ICONSFOLDER]Zpl.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.zpl\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.mp3" Value="Dopamine mp3 file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.mp3\DefaultIcon" Value="[ICONSFOLDER]Mp3.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.mp3\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.ogg" Value="Dopamine ogg file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.ogg\DefaultIcon" Value="[ICONSFOLDER]Ogg.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.ogg\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.wma" Value="Dopamine wma file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.wma\DefaultIcon" Value="[ICONSFOLDER]Wma.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.wma\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.flac" Value="Dopamine flac file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.flac\DefaultIcon" Value="[ICONSFOLDER]Flac.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.flac\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.m4a" Value="Dopamine m4a file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.m4a\DefaultIcon" Value="[ICONSFOLDER]M4a.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.m4a\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.m3u" Value="Dopamine m3u file" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.m3u\DefaultIcon" Value="[ICONSFOLDER]M3u.ico,0" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.m3u\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.zpl" Value="Dopamine zpl file" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.zpl\DefaultIcon" Value="[ICONSFOLDER]Zpl.ico,0" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.zpl\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.mp3" Value="Dopamine mp3 file" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.mp3\DefaultIcon" Value="[ICONSFOLDER]Mp3.ico,0" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.mp3\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.ogg" Value="Dopamine ogg file" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.ogg\DefaultIcon" Value="[ICONSFOLDER]Ogg.ico,0" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.ogg\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.wma" Value="Dopamine wma file" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.wma\DefaultIcon" Value="[ICONSFOLDER]Wma.ico,0" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.wma\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.flac" Value="Dopamine flac file" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.flac\DefaultIcon" Value="[ICONSFOLDER]Flac.ico,0" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.flac\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.m4a" Value="Dopamine m4a file" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.m4a\DefaultIcon" Value="[ICONSFOLDER]M4a.ico,0" Type="string" />
            <RegistryValue Root="HKCR" Key="SOFTWARE\Classes\Dopamine.m4a\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.opus" Value="Dopamine opus file" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.opus\DefaultIcon" Value="[ICONSFOLDER]Opus.ico,0" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Dopamine.opus\shell\open\command" Value="&quot;[INSTALLFOLDER]Dopamine.exe&quot; &quot;%1&quot;" Type="string" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <!-- Components to add -->
    <!-- ================= -->
    <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="FFMPEGX64CMP" />
      <ComponentRef Id="FFMPEGX86CMP" />
      <ComponentRef Id="ICONSCMP" />
      <ComponentRef Id="LANGUAGESCMP" />
      <ComponentRef Id="EQUALIZERCMP" />
      <ComponentRef Id="MAINCMP" />
      <ComponentRef Id="X64CMP" />
      <ComponentRef Id="X86CMP" />
    </Feature>
  </Product>
  <!-- Customization -->
  <!-- ============= -->
  <Fragment>
    <UI Id="DonateWixUI_InstallDir">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="DonateExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
  <Fragment>
    <UI>
      <Dialog Id="DonateExitDialog" Width="370" Height="270" Title="!(loc.ExitDialog_Title)">
        <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUICancel)" />
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.ExitDialogBitmap)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="135" Y="70" Width="220" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescription)" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitle)" />
        <Control Id="OptionalText" Type="Text" X="135" Y="110" Width="220" Height="80" Transparent="yes" NoPrefix="yes" Hidden="yes" Text="[WIXUI_EXITDIALOGOPTIONALTEXT]">
          <Condition Action="show">WIXUI_EXITDIALOGOPTIONALTEXT AND NOT Installed</Condition>
        </Control>
        <Control Id="DonateHyperLink" Type="Hyperlink" X="135" Y="125" Height="40" Width="200" Transparent="yes">
          <Text>
            <![CDATA[If you like this software, please consider donating. Thank you! <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MQALEWTEZ7HX8">Donate via PayPal</a>]]>
          </Text>
        </Control>
        <Control Id="OptionalCheckBoxText" Type="Text" X="148" Y="190" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="[WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT]">
          <Condition Action="show">WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT AND NOT Installed</Condition>
        </Control>
        <Control Id="OptionalCheckBox" Type="CheckBox" X="135" Y="190" Width="10" Height="10" Hidden="yes" Property="WIXUI_EXITDIALOGOPTIONALCHECKBOX" CheckBoxValue="1" Text="[WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT]">
          <Condition Action="show">WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT AND NOT Installed</Condition>
        </Control>
      </Dialog>
      <InstallUISequence>
        <Show Dialog="DonateExitDialog" OnExit="success" Overridable="yes" />
      </InstallUISequence>

      <AdminUISequence>
        <Show Dialog="DonateExitDialog" OnExit="success" Overridable="yes" />
      </AdminUISequence>
    </UI>
  </Fragment>
</Wix>