<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net461" />
  <package id="DiscordRichPresence" version="1.0.175" targetFramework="net472" />
  <package id="DryIoc.dll" version="2.12.8" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net461" />
  <package id="Prism.DryIoc" version="7.0.0.336-pre" targetFramework="net461" />
  <package id="Prism.Wpf" version="7.0.0.336-pre" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.9" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.9" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.9" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.9" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.9" targetFramework="net461" />
</packages>