<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CSCore" publicKeyToken="5a08f2b6f4415dea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.6245.30570" newVersion="1.1.6245.30570" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>